In [53]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [54]:
df = pd.read_csv('./covid-19_symptoms_dataset.csv')

In [55]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0    102         0    9          0          -1              0
1    102         0   10          0           0              1
2    104         0   33          1          -1              0
3    101         1   59          0           1              0
4     99         0   98          0           0              0

In [56]:
df.shape

(2575, 6)

In [57]:
df['fever'] = (df['fever'] - 32) * (5/9)
df['fever'] = np.ceil(df['fever'] * 10) / 10
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   38.9         0    9          0          -1              0
1   38.9         0   10          0           0              1
2   40.0         0   33          1          -1              0
3   38.4         1   59          0           1              0
4   37.3         0   98          0           0              0

In [58]:
df['diffBreath'] = df['diffBreath'] + 1
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   38.9         0    9          0           0              0
1   38.9         0   10          0           1              1
2   40.0         0   33          1           0              0
3   38.4         1   59          0           2              0
4   37.3         0   98          0           1              0

In [59]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,38.353282,0.492816,51.023301,0.502136,1.002330,0.493592
std,1.100468,0.500045,29.014442,0.500093,0.816969,0.500056
min,36.700000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,37.300000,0.000000,26.000000,0.000000,0.000000,0.000000
50%,38.400000,0.000000,50.000000,1.000000,1.000000,0.000000
75%,39.500000,1.000000,76.500000,1.000000,2.000000,1.000000
max,40.000000,1.000000,100.000000,1.000000,2.000000,1.000000

In [61]:
sc = StandardScaler()
df['fever'] = sc.fit_transform(df['fever'].array.reshape(-1, 1))
df['age'] = sc.fit_transform(df['age'].array.reshape(-1, 1))
df.head()

      fever  bodyPain       age  runnyNose  diffBreath  infectionProb
0  0.496902         0 -1.448639          0           0              0
1  0.496902         0 -1.414167          0           1              1
2  1.496671         0 -0.621304          1           0              0
3  0.042462         1  0.274975          0           2              0
4 -0.957308         0  1.619394          0           1              0

In [67]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
print(X, y)

         fever  bodyPain       age  runnyNose  diffBreath
0     0.496902         0 -1.448639          0           0
1     0.496902         0 -1.414167          0           1
2     1.496671         0 -0.621304          1           0
3     0.042462         1  0.274975          0           2
4    -0.957308         0  1.619394          0           1
...        ...       ...       ...        ...         ...
2570 -0.957308         0  1.343616          0           1
2571 -0.502867         0  0.068141          0           0
2572  0.042462         0 -0.242109          1           1
2573  0.496902         0  1.584922          0           0
2574  1.496671         1  0.378392          1           0

[2575 rows x 5 columns] 0       0
1       1
2       0
3       0
4       0
       ..
2570    1
2571    1
2572    0
2573    1
2574    1
Name: infectionProb, Length: 2575, dtype: int64